# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/giaide/De3_SinhVienLopHoc/nbproject/private/
/giaide/De3_SinhVienLopHoc/build/
/giaide/De4_PersonNhanVien/nbproject/private/
/giaide/De10_GiangVien/nbproject/private/
/giaide/De10_GiangVien/build/
/giaide/De5_PersonNhanVien/nbproject/private/
/giaide/De5_PersonNhanVien/build/
/giaide/De6_Number/nbproject/private/
/giaide/De6_Number/build/
/giaide/De8_Cauthu/nbproject/private/
/giaide/De8_Cauthu/build/
/giaide/deMienNam/nbproject/private/
/giaide/De6_TuDien/nbproject/private/
/giaide/De6_TuDien/build/
/giaide/De4_Sinhvien/nbproject/private/
/giaide/De1/nbproject/private/
/giaide/De7/nbproject/private/
/giaide/De7/build/
/giaide/De5/nbproject/private/
/giaide/De5/build/